/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.calendar-icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

.calendar-header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.calendar-header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

.calendar-header #logo .calendar-icon {
  padding-right: .25em;
}


/* GRID */

.calendar-grid-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendar-grid-row-middle {
  align-items: center;
}

.calendar-grid-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.calendar-grid-col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar-grid-col-center {
  justify-content: center;
  text-align: center;
}

.calendar-grid-col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .calendar-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-header .calendar-icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .calendar-header .calendar-icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .calendar-header .calendar-icon:first-of-type {
  margin-left: 1em;
}

.calendar .calendar-header .calendar-icon:last-of-type {
  margin-right: 1em;
}

.calendar .calendar-days {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color-light);
  font-size: 80%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-body .calendar-cell {
  position: relative;
  height: calc(120vh/8);
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .calendar-body .calendar-cell .event {
    align-self: center;
    text-align: center;
    justify-self: center;
}

.calendar .calendar-body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .calendar-body .calendar-grid-row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-body .calendar-grid-row:last-child {
  border-bottom: none;
}

.calendar .calendar-body .calendar-cell:last-child {
  border-right: none;
}

.calendar .calendar-body .calendar-cell .calendar-number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .calendar-body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .calendar-body .calendar-cell .calendar-bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .calendar-body .calendar-grid-col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

/* Events */
  
.calendar-event-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.calendar-event-list li {
  text-align: center;
  margin: 1px 0;
  z-index: 15;
}

.calendar-event {
  width: 95%;
  text-align: center;
  color: white;
  border: none;
  background: #2980b9;
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar-event:hover {
  transform: scale(1.25);
  transition: .25s ease-out;
  border: 1px solid black;
  z-index: 20;
  width: 80%;
  margin: 5px 5px;
}