* {
    margin: 0;
    padding: 0;
}

.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.login-form {
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    margin: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.login-form .form-group {
    padding: 0 40px;
    box-sizing: border-box;
}
.login-form button {
    margin: 30px 20px 20px;
    width: 90%;
}
.form-link {
    text-align: center;
}
.alert {
    margin: 0px 20px;
    text-align: center;
}
