* {
    margin: 0;
    padding: 0;
}

.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.alert {
    margin: 0px 20px;
    text-align: center;
}

.form-link {
    text-align: center;
}


/* Login Form */

.login-form {
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.login-form h1 {
    margin: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.login-form .form-group {
    padding: 0 40px;
    box-sizing: border-box;
}
.login-form button {
    margin: 30px 20px 20px;
    width: 90%;
}

/* New Session Form */

.session-form {
    display: grid;
    position: relative;
    width: 95%;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.session-form-content {
    display: flex;
    flex-direction: column;
}

.session-picture {
    height: 100%;
    width: 100%;
    display: block;
    outline: 2px solid black;
    justify-content: center;
    align-content: center;
}
.session-picture img {
    width: 100%;
    height: 100%;
}

.session-info, .session-info-fancy {
    position: relative;
    padding-top: 30px;
    justify-content: space-between;
}

.session-info .div-handle {
    padding-bottom: 30px;
    height: 15%;
}

.session-info-fancy .div-handle {
    padding-bottom: 50px;
    height: auto;
}

.session-info input {
    width: 50%;
}

.session-info .text-container {
    position: relative;
    height: 30%;
    margin: auto;
}

.session-info-fancy .text-container {
    position: relative;
    height: 50%;
    margin: auto;
}

.session-info .text-area {
    width: 90%;
    margin: auto auto 5% 5%;
    height: 100%;
    position: absolute;
}

.session-info-fancy .text-area-fancy {
    width: 90%;
    margin: auto auto 5% 5%;
    height: 100%;
    position: absolute;
}

.session-form .text-area-fancy {
    border: 1px solid black;
}

.session-info .submit-btn {
    position: absolute;
    width: 80%;
    bottom: 30px;
    right: 10%;
}

.session-info-fancy .submit-btn {
    position: absolute;
    width: 80%;
    bottom: 30px;
    right: 10%;
}

.x_file-upload::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}
.x_file-upload {
    width: 110px;
    overflow-x: hidden;
    position: absolute;
    left: 20%;
    top: 1px;
}
.x_file-upload::before {
    content: "Select a picture";
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.x_file-upload:hover::before {
    border-color: black;
}
.x_file-upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}