* {
    margin: 0;
    padding: 0;
}

.x_list-container {
    margin: 0px 150px 40px 310px;
}

.x_list-container .x_list-component:last-child {
    border-bottom: none;
}

.x_list-component, .x_list-header {
    border-bottom: 1px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
}

.x_list-header {
    border: none;
    padding-bottom: 0;
}

.x_color-block {
    width: 200px;
}