* {
    margin: 0;
    padding: 0;
}

.modal-background {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-background .modal-content-c, .modal-content-c-sm {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888888;
    width: 80%;
    height: 80%;
    align-content: center;
    text-align: center;
    align-items: center;
}
.modal-content-c-sm {
    width: fit-content;
    padding: 40px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}

@keyframes animatezoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.modal-close-btn {
    position: absolute;
    width: fit-content;
    padding: 0;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.modal-content h1 {
    text-align: center;
    margin-top: 20px;
}