@import url(https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Pacifico&display=swap);

:root {
    --font: black;
    --orange: #ff8000;
    --orange-highlight: #ff800060;
    --blue: #2980b9;
    --off-white: #efefef;
    --gray: #9c9c9c34;

    --danger: #e74c3c;

    --logo-font: 'Caveat', cursive;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

nav {
    display: block;
}

body {
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--off-white);
}

/* Generic */

label {
    display: inline-block;
    margin: .5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    padding: 9px 25px;
    background-color: var(--orange);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none !important;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
}

.alert {
    color: white;
    background-color: var(--gray);
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 0 20px;
}

.alert-danger {
    background-color: var(--danger);
}

.ico {
    margin: .5rem;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
    box-shadow: var(--shadow);
    z-index: 100;
    position: relative;
    margin-bottom: 0px;
}

.navbar-logo {
    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 32px;
    text-decoration: none !important;
    cursor: pointer;
    color: black;
}

.navbar-nav {
    list-style: none;
}

.navbar-nav li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar-link {
    text-decoration: none !important;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    color: var(--font);
}

.navbar-link:hover {
    list-style: none;
    transform: scale(1.3);
    color: var(--orange);
}

.navbar-link.active {
    list-style: none;
    transform: scale(1.3);
    color: var(--orange);
}

/* Side Navbar */

.sidenav {
    margin: 20px;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    height: 95.5%;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.sidenav-logo {
    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: gray;
    padding-bottom: 1rem;
    text-decoration: none !important;
}

.sidenav-link {
    display: block;
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    overflow: hidden;
    text-decoration: none !important;
    transition: all 0.3s ease 0s;
}

.sidenav-link:hover {
    background-color: var(--gray);
}

.sidenav-link.active {
    background-color: var(--gray);
    box-shadow: inset 4px 0 0 var(--orange);
}

.sidenav-content {
    margin-left: 200px;
    padding: 20px 20px 20px 40px;
}

/* Forms */

.form-backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(120deg,var(--blue),var(--orange)); 
}

.login-form {
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    text-align: center;
}

.login-form h1 {
    margin: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.login-form .button {
    margin: 1rem;
    width: 80%;
}

.form-group {
    padding: 10px 30px;
    box-sizing: border-box;
}

.form-group label {
    float: left;
}

.form-control {
    display: block;
    margin: .25rem;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7b8a8b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #7b8a8b;
    background-color: #fff;
    border-color: #597ea2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(32, 43, 54, 0.25);
}

.form-link {
    margin-bottom: 1rem;
}

.form-link a {
    color: var(--orange);
}

.component {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--shadow-sm);
}

/* Session Form */

.session-form {
    position: relative;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.session-form-content {
    display: flex;
    height: 100%;
    max-width: fit-content;
    margin: auto;
}

.session-form-image {
    box-sizing: border-box;
    margin: 0 0 64px 0;
    float: left;
    overflow: hidden;
    height: 100%;
}

.session-form-image img {
    margin: 1.4rem 0;
    height: 95%;
    width: auto;
}

.session-form-info {
    position: relative;
    text-align: left;
    margin:  15px 0 40px 25px;
}

.session-form-info h1 {
    font-size: 72px;
    font-weight: 500;
}

.session-form-info h3 {
    font-size: 35px;
    font-weight: 500;
}

.session-form-info .session-form-desc {
    margin-top: 15px;
}

.session-form-info .session-form-total {
    text-align: left;
}

.session-form-info .button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Modal */

.modal-background {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-background .modal-content, .modal-content-sm {
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888888;
    width: 100%;
    height: 100%;
}
.modal-content-sm {
    width: fit-content;
    padding: 40px;
}

.modal-button {
    position: absolute;
    width: 45px;
    height: 35px;
    padding: 0;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}

@keyframes animatezoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}