@font-face {
    font-family: "LuloCleanW01-OneBold";
    src: local("LuloCleanW01-OneBold"), url(../fonts/LuloCleanBold.ttf) format("truetype");
}

:root {
    --font: black;
    --orange: #ff8000;
    --orange-highlight: #ff800060;
    --blue: #2980b9;
    --off-white: #efefef;
    --gray: #9c9c9c34;
    --yellow: #EBBA4D;
    --home-header-color: rgb(54, 54, 54);
    --danger: #e74c3c;

    --home-header-font: normal normal normal 40px/1.4em LuloCleanW01-OneBold,sans-serif;

    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

nav {
    display: block;
}

body {
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--off-white);
}

/* Generic */

label {
    display: inline-block;
    margin: .5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}

.no-decor {
    text-decoration: none !important;
}

.no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.site-content {
    padding-top: 68px;
}

.site-footer {
    width: 100%;
    height: 150px;
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding-top: 25px;
}

.site-footer button {
    background-color: transparent;
    color: var(--yellow);
    margin-bottom: 50px;
}

.site-footer span {
    font-size: 13px;
    font-style: italic;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.generic-button {
    background-color: #24a6fc;
    color: white;
    padding: 10px;
    margin: 8px;
    border-radius: 120px;
    transition: all 0.35s ease 0s;
    text-decoration: none !important;
}

.generic-button:hover {
    background-color: #218fd8;
}

.stripped-button {
    cursor: pointer;
    color: black;
    text-decoration: none !important;
}

.stripped-button:hover {
    color: var(--yellow);
}

.alert {
    color: white;
    background-color: var(--gray);
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 0 20px;
}

.alert-danger {
    background-color: var(--danger);
}

.alert-success {
    background-color: green;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.float-right {
    float: right;
}

.ql-container {
    font-size: 18px;
}

.bg-img-paral {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Home */

.home-bg-img-1 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bec-livesite.appspot.com/o/SiteImages%2FHome%2FBECLogoHeader1.8.21.jpg?alt=media&token=c12d18ad-af39-4e71-a390-d0b34197713e);
    height: 100vh;
}

.home-bg-img-2 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bec-livesite.appspot.com/o/SiteImages%2FHome%2FBrylee.jpg?alt=media&token=359aa80e-e571-4a49-8760-0d1f8e17165a);
    height: 100vh;
}

.home-bg-img-3 {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/bec-livesite.appspot.com/o/SiteImages%2FHome%2FBECBlankLogoHeader1.8.21.png?alt=media&token=d3eeadf3-8dbc-4ce6-9fbf-52e7d8a022d6);
    height: 85vh;
}

.home-bg-img-3-fixed {
    background: url(https://firebasestorage.googleapis.com/v0/b/bec-livesite.appspot.com/o/SiteImages%2FHome%2FBECBlankLogoHeader1.8.21.png?alt=media&token=d3eeadf3-8dbc-4ce6-9fbf-52e7d8a022d6) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-minilogo {
    width: 200px;
    height: 200px;
}

.home-twedo {
    background-color: rgb(250, 250, 250);
    height: 700px;
    text-align: center;
}

.home-twedo h1 {
    padding-top: 100px;
    font: var(--home-header-font);
    color: var(--home-header-color);
}

.home-twedo-body {
    display: grid;
    grid-template-columns: 195px 195px 195px;
    justify-content: center;
    margin: 80px 0;
    gap: 30px;
}

.home-twedo-line {
    width: 25px;
    height: 1px;
    margin: 10px 44%;
    background-color: var(--yellow);
}

.home-twedo-body section {
    width: 195px;
    flex: 2;
}

.home-community {
    text-align: center;
    height: fit-content;
}

.home-community h1 {
    padding: 100px 0px;
    font: var(--home-header-font);
    color: var(--home-header-color);
}

.home-community-body {
    display: flex;
    height: 100%;
    margin-left: calc((100% - 980px) * 0.5);
}

.home-community-body-img {
    width: fit-content;
    padding: auto;
}

.home-community-body-img img {
    margin: 1.4rem 0;
    width: 620px;
}

.home-community-body-text {
    text-align: left;
    font-size: 20px;
    margin: 80px 40px;
}

.home-community-body-text p {
    width: 300px;
    margin: 10px 0;
}

.home-community-body-text ul {
    list-style-type: disc;
}

.home-submit {
    height: fit-content;
    background-color: white;
    text-align: center;
    padding: 60px 0;
}

.home-submit h1 {
    font: var(--home-header-font);
    color: var(--home-header-color);
}

.home-submit-line {
    width: 25px;
    height: 1px;
    margin: 25px 0 25px calc(50% - 25px);
    background-color: var(--yellow);
}

.home-submit-text {
    width: 450px;
    margin-bottom: 40px;
    margin-left: calc((100% - 450px) * 0.5);
    text-align: left;
    font-size: 17px;
}

.home-submit-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 450px;
    margin-left: calc((100% - 450px) * 0.5);
    margin-top: 10px;
}

.home-submit-input label {
    margin: 0;
    font-size: 17px;
}

.home-submit-input input, textarea {
    background-color: #E6DECA;
    height: 39px;
    font-size: 18px;
    padding: 5px;
    border: none;
    outline: none;
}

.home-submit-input textarea {
    height: 131px;
    resize: none;
}

.home-submit-btn {
    position: relative;
    left: 200px;
    justify-self: start;
    align-self: start;
    margin-top: 20px;
    height: 40px;
    padding: 5px;
    color: #FCFCFC;
    background-color: #7B736F;
    font-size: 17px;
    border-radius: 0 0 10px 0;
    cursor: pointer;
}

.home-submit-btn:disabled {
    background-color: #d8ccc5;
}

.home-submit-btn:disabled:hover {
    background-color: #d8ccc5;
}

.home-submit-btn:hover {
    background-color: #69625e;
}

.home-follow {
    background-color: #FF6161;
    height: 410px;
    padding-top: 130px;
}

.home-follow h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}

.home-follow-line {
    height: 3px;
    width: 45px;
    margin: 10px 0 30px calc(50% - 25px);
    background-color: white;
}

.home-follow-body {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    padding: 0px 20px 0px 25px;
}

.home-follow-body a {
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    padding-top: 8px;
    color: white;
    background-color: var(--yellow);
    height: 40px;
    width: 142px;
    text-decoration: none !important;
}

.home-last {
    height: 350px;
}

@media screen and (max-width:840px) {
    .home-bg-img-1 {
        height: auto;
        min-height: 70vh;
        width: 100vw;
        background-attachment: unset;
    }

    .home-bg-img-2 {
        height: auto;
        min-height: 70vh;
        width: 100vw;
        background-attachment: unset;
    }

    .home-bg-img-3 {
        height: auto;
        width: 100vw;
        background-attachment: unset;
    }

    .home-twedo {
        height: auto;
    }

    .home-twedo-body {
        grid-template-columns: 100vw;
        justify-content: center;
        gap: 30px;
    }

    .home-twedo-body section {
        margin-left: calc((100% - 195px) * 0.5);
    }

    .home-community h1 {
        padding: 60px 0;
    }

    .home-community-body {
        flex-direction: column;
        margin: 0;
    }

    .home-community-body-img {
        width: 100%;
    }

    .home-community-body-img img {
        height: auto;
        width: 90vw;
        margin: 0;
    }

    .home-community-body-text p {
        margin: 0 0 20px calc((100% - 300px) * 0.5);
    }

    .home-community-body-text ul li {
        margin: 0 0 0 calc((100% - 260px) * 0.5);
    }

    .home-submit-text {
        max-width: 300px;
        margin-left: calc((100% - 300px) * 0.5);
    }

    .home-submit-input {
        width: 300px;
        margin-left: calc((100% - 300px) * 0.5);
    }

    .home-submit-btn {
        left: 125px;
    }

    .home-follow {
        padding-top: 80px;
    }

    .home-follow-body {
        grid-template-columns: 150px;
        justify-content: center;
        gap: 15px;
    }

    .home-last {
        height: 25vh;
    }
}

/* Blog */

.blog-admin-page {
    margin: 0 auto;
    padding: 30px;
    width: 800px;
}

.blog-admin-title {
    height: 60px;
}

.blog-admin-title-header {
    float: left;
}

.blog-admin-title-button {
    float: right;
}

.blog-admin-table {
    width: 100%;
}

.blog-admin-table-row {
    width: 640px;
    height: 100px;
    border-bottom: 5px solid black;
}

.blog-create {
    justify-content: center;
    height: 100%;
    display: flex;
    padding-left: 400px;
}

.blog-create-navbar {
    position: fixed;
    left: 0;
    padding: 10px;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: var(--shadow-sm);
    overflow: scroll;
    overflow-x: hidden;
}

.blog-create-navbar div {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.blog-create-navbar h3 {
    margin-top: 10px;
}

.blog-create-navbar-seo input {
    font-size: 18px;
    width: 100%;
}

.blog-create-navbar-seo textarea {
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    width: 100%;
    resize: vertical;
}

.blog-create-container {
    position: relative;
    margin: 10px auto;
    background-color: white;
    width: 640px;
}

.blog-create-title {
    font: var(--home-header-font);
    background-color: white;
    color: #474747;
    resize: none;
    width: 100%;
}

.blog-create-content {
    width: 640px;
    position: relative;
    margin: 0 auto;
    background-color: white;
}

.blog-create-content .ql-toolbar {
    position: sticky;
    top: 68px;
    background-color: white;
    z-index: 10;
}

.blog-create-cover {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
}

.blog-create-cover img {
    width: 100%;
    height: auto;
}

.blog-create-cover input::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}

.blog-create-cover input {
    width: 117px;
    overflow-x: hidden;
    top: 22px;
}

.blog-create-cover input::before {
    content: "Select a picture";
    display: inline-block;
    background: -webkit-linear-gradient(top,#f9f9f9,#e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.blog-create-button {
    position: fixed;
    right: 20px;
    top: 90px;
}

/* Blog */

.inspire-blog {
    width: 980px;
    min-height: 900px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    background-color: white;
}

.inspire-blog h1 {
    font: var(--home-header-font);
    font-size: 60px;
    color: #363636;
    margin-bottom: 60px;
}

.inspire-blog-list-item {
    display: flex;
    height: 340px;
    width: 95%;
    margin: 40px auto;
    border: 1px solid black;
    cursor: pointer;
}

.inspire-blog-list-item-image {
    width: 50%;
}

.inspire-blog-list-item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.inspire-blog-list-item-body {
    position: relative;
    width: 50%;
    padding: 24px 36px;
    text-align: left;
}

.inspire-blog-list-item-body h1 {
    font: var(--home-header-font);
    font-size: 28px;
    margin: 10px 0;
    cursor: pointer;
}

.inspire-blog-list-item-body h1:hover {
    color: var(--yellow);
}

.inspire-blog-list-item-body button:hover {
    color: var(--yellow);
}

.inspire-blog-list-item-quill {
    height: 150px;
    resize: none;
}

.inspire-blog-list-item-quill div {
    margin: 10px 0;
    padding: 0;
    color: #5c5c5c !important;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inspire-blog-list-item-quill span {
    color: #5c5c5c !important;
    cursor: pointer;
}

.inspire-blog-list-item .modal-button {
    z-index: 1;
}

@media screen and (max-width:840px) {
    .inspire-blog {
        width: 100%;
    }

    .inspire-blog h1 {
        font-size: 48px;
    }

    .inspire-blog-list {
        margin-top: 50px;
    }

    .inspire-blog-list-item {
        height: 220px;
        margin: 20px auto;
    }

    .inspire-blog-list-item-body {
        padding: 3px 5px;
    }

    .inspire-blog-list-item-body .no-overflow {
        height: 55%;
    }

    .inspire-blog-list-item-body h1 {
        font: var(--home-header-font);
        font-size: 12px;
        margin: 10px 0;
        cursor: pointer;
    }
}

/* Post */

.inspire-post {
    height: 100%;
    margin: 0 auto;
    padding: 60px 100px;
    text-align: left;
    background-color: white;
}

.inspire-post-container {
    width: 940px;
    margin: 0 auto;
}

.inspire-post-title {
    font: var(--home-header-font);
    color: var(--home-header-color);
    margin-bottom: 40px;
}

.inspire-post-quill img {
    width: 100%;
    height: auto;
}

.ql-container {
    font-size: 18px;
}

.inspire-post-quill .ql-editor {
    padding: 0;
}

.inspire-post-navbar {
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 10px;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

.inspire-post-navbar a {
    padding: 0 15px;
    margin-top: 10px;
    font-size: 18px;
}

.inspire-post-navbar a.active {
    color: var(--yellow);
}

.inspire-post-share {
    height: 60px;
    padding-top: 8px;
    border-top: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
}

.inspire-post-share button {
    margin-right: 20px;
}

.featured-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 20px 20px 80px;
    background-color: white;
}

.featured-container-title {
    position: relative;
}

.featured-container-title div {
    position: absolute;
    right: 35px;
    top: 15px;
}

.featured-container h1 {
    padding-left: 30px;
}

.inspire-post-featured {
    display: flex;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
}

.inspire-post-featured div {
    padding: 0 10px;
    margin: 0 auto;
}

.inspire-post-featured img {
    width: 260px;
    height: auto;
}

.inspire-post-featured h4 {
    width: 260px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inspire-post-featured a {
    font: var(--home-header-font);
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Coming Soon */

.coming-soon {
    min-height: 719px;
    width: 100%;
}

.coming-soon-container {
    top: 40%;
    display: flex;
}

.coming-soon-container h1 {
    min-width: 400px;
    font-size: 60px;
    padding-top: 160px;
    margin-left: 10px;
    z-index: 1;
    color: var(--yellow);
}

.coming-soon-backdrop {
    position: absolute;
    width: 35%;
    min-width: 680px;
    height: 300px;
    margin-top: 35px;
    background-color: white;
    border: 3px solid var(--yellow);
}

.loader {
    padding-top: 80px;
    min-width: 250px;
}

.loader_cogs {
    width: 100px;
    height: 100px;
    top: -120px !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.COGfirst {
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-transform-origin: 50px 50px;
            transform-origin: 50px 50px;
    -webkit-animation: rotate 10s infinite linear;
            animation: rotate 10s infinite linear;
}

.COGfirst div:nth-of-type(1) {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
}

.COGfirst div:nth-of-type(2) {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}

.COGfirst div:nth-of-type(3) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.COGfirst div.firstPart {
    width: 100px;
    border-radius: 15px;
    position: absolute;
    height: 100px;
    background: var(--yellow);
}

.COGfirst div.firstHole {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.COGsecond {
    position: relative;
    width: 80px;
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
    top: 28px;
    -webkit-transform-origin: 40px 40px;
            transform-origin: 40px 40px;
    animation: rotate_left 10s .1s infinite reverse linear;
    left: -24px;
    height: 80px;
}

.COGsecond div:nth-of-type(1) {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
}

.COGsecond div:nth-of-type(2) {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}

.COGsecond div:nth-of-type(3) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.COGsecond div.secondPart {
    width: 80px;
    border-radius: 10px;
    position: absolute;
    height: 80px;
    background: #e2b34e;
}

.COGsecond div.secondHole {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: white;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.COGthird {
    position: relative;
    width: 60px;
    top: -65px;
    -webkit-transform-origin: 30px 30px;
            transform-origin: 30px 30px;
    -webkit-animation: rotate_left 10.2s .4s infinite linear;
            animation: rotate_left 10.2s .4s infinite linear;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
    left: 79px;
    height: 60px;
}

.COGthird div:nth-of-type(1) {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
}

.COGthird div:nth-of-type(2) {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}

.COGthird div:nth-of-type(3) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.COGthird div.thirdPart {
    width: 60px;
    border-radius: 8px;
    position: absolute;
    height: 60px;
    background: #ffc955;
}

.COGthird div.thirdHole {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: white;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
   
  /* Animations */
@-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate_left {
    from {
      -webkit-transform: rotate(16deg);
              transform: rotate(16deg);
    }
    to {
      -webkit-transform: rotate(376deg);
              transform: rotate(376deg);
    }
}

@keyframes rotate_left {
    from {
      -webkit-transform: rotate(16deg);
              transform: rotate(16deg);
    }
    to {
      -webkit-transform: rotate(376deg);
              transform: rotate(376deg);
    }
}

@-webkit-keyframes rotate_right {
    from {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    to {
      -webkit-transform: rotate(364deg);
              transform: rotate(364deg);
    }
}

@keyframes rotate_right {
    from {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    to {
      -webkit-transform: rotate(364deg);
              transform: rotate(364deg);
    }
}

/* Navbar */

.navbar {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    justify-content: center;
    background-color: white;
    min-height: 68px;
    overflow: hidden;
    box-shadow: var(--shadow-sm);
}

.navbar-link {
    text-decoration: none !important;
    font: var(--home-header-font);
    border: none;
    outline: none;
    background-color: white;
    display: inline-block;
    padding: 0px 20px;
    white-space: nowrap;
    transition: all 0.35s ease 0s;
    color: var(--font);
    padding-top: 20px;
    font-weight: bolder;
    font-size: 18px;
}

.navbar-link:hover {
    list-style: none;
    color: var(--yellow);
    background-color: white;
}

/* TODO: Fix link background on click */

.navbar-link.active {
    list-style: none;
    color: var(--yellow);
}

.navbar-burger {
    display: none;
}

@media screen and (max-width:840px) {
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar-burger {
        display: block;
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 20px;
    }
}

/* Side Navbar */

.sidenav {
    margin: 20px;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    height: 95.5%;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.sidenav-logo {
    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    color: gray;
    padding-bottom: 1rem;
    text-decoration: none !important;
}

.sidenav-link {
    display: block;
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    overflow: hidden;
    text-decoration: none !important;
    transition: all 0.3s ease 0s;
}

.sidenav-link:hover {
    background-color: var(--gray);
}

.sidenav-link.active {
    background-color: var(--gray);
    box-shadow: inset 4px 0 0 var(--orange);
}

.sidenav-content {
    margin-left: 200px;
    padding: 20px 20px 20px 40px;
}

/* Forms */

.form-backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(120deg,var(--blue),var(--orange)); 
}

.login-form {
    width: 400px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    text-align: center;
}

.login-form h1 {
    margin: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.login-form .button {
    margin: 1rem;
    width: 80%;
}

.form-group {
    padding: 10px 30px;
    box-sizing: border-box;
}

.form-group label {
    float: left;
}

.form-control {
    display: block;
    margin: .25rem;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7b8a8b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #7b8a8b;
    background-color: #fff;
    border-color: #597ea2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(32, 43, 54, 0.25);
}

.form-link {
    margin-bottom: 1rem;
}

.form-link a {
    color: var(--orange);
}

.component, .component-sm {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--shadow-sm);
}

.component-sm {
    width: fit-content;
}

/* Session Form */

.session-form {
    position: relative;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.session-form-content {
    display: flex;
    height: 100%;
    max-width: fit-content;
    margin: auto;
}

.session-form-image {
    box-sizing: border-box;
    margin: 0 0 64px 0;
    float: left;
    height: 100%;
}

.session-form-image img {
    margin: 1.4rem 0;
    height: 95%;
    width: auto;
    min-width: 200px;
}

.session-form-image-upload::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}

.session-form-image-upload {
    width: 116px;
    overflow-x: hidden;
    position: absolute;
    top: 22px;
}

.session-form-image-upload::before {
    content: "Select a picture";
    display: inline-block;
    background: -webkit-linear-gradient(top,#f9f9f9,#e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.session-form-info {
    position: relative;
    text-align: left;
    margin:  15px 0 40px 25px;
}

.session-form-div {
    margin-bottom: 10px;
}

.session-form-info h1 {
    font-size: 72px;
    font-weight: 500;
}

.session-form-info h3 {
    font-size: 35px;
    font-weight: 500;
}

.session-info-title {
    font-size: 32px;
}

.session-info-color {
    width: 250px;
}

.session-form-info .session-form-desc {
    margin-top: 15px;
}

.session-form-info .session-form-total {
    text-align: left;
}

.session-form-info .button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
}

/* Modal */

.modal-background {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-background .modal-content, .modal-content-md, .modal-content-sm {
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888888;
    width: 100%;
    height: 100%;
}
.modal-content-md {
    width: fit-content;
    padding: 40px;
    margin: auto;
}
.modal-content-sm {
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin: auto;
}

.modal-button {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.animate {
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
}

@keyframes animatezoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* Table */

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.table td, .table th {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 8px;
}

.table tr:hover {
    background-color: #d8d8d860
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--orange);
    color: white;
}

.table-title-group {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.table-title-group .button {
    position: absolute;
    right: 0;
}

/* Signature */

.signature {
    border: 1px solid black;
}